<div class="alert alert-block alert-info">
<b>IBM Capstone Project for Applied Data Science</b>
</div>

## Battle of the Neighborhoods: Ikinari Steak
### What Lies Ahead after a Precipitous Fall?
     by Byung Kim

<div class="alert alert-block alert-info">
Section 1

<h2> The Business Problem </h2>
<h3> A.K.A. What's up with Ikinari Steak? </h3>
</div>


### The Ikinari Steak Story in Japan
Ikinari Steak has a near cult following in Japan.
The business model is quite simple to understand and can be broken down into three major points:
1. Create a high customer turnover environment by making the shops __["tachigui"](https://en.wiktionary.org/wiki/%E7%AB%8B%E3%81%A1%E9%A3%9F%E3%81%84)__, literally "standing and eating". <br> There are no seats, so meals are done in 15-20 minutes.
2. Higher turnover allows you to provide higher quality meat for lower prices. <br> Improve your margins by hiring retired chefs who don't mind working a couple hours for lunch or dinner and can cook a cut of meat from rare to well-done.
3. Find locations near business centers to capture the hearts and stomachs of busy employees who don't mind eating the same delicious thing day-in, day-out. <br> Bring them back by creating rewards programs, including one that records how much meat you ate compared to others.

There are over __[300 locations](https://ikinaristeakusa.com/story.html)__ in Japan, with more coming and revenue is looking strong.

### The Bloated Start and Precipitous Fall
The success of Ikinari Steak in Japan roused up ambition to go global, and Ikinari Steak opened its first location in __[East Village of Manhattan, New York in February 2017](https://www.foodnewsfeed.com/content/stand-restaurant-ikinari-steak-opening-nyc)__.

The New York team wasted no time, and by December 2018, they opened a total of __[11 locations throughout Manhattan](https://www.thevillager.com/2018/12/steaks-are-sizzling-at-ikinari-on-bleecker-st/)__. These places included high-profile locations such as Times Square, Chelsea, and Grand Central. 

Then, in February 15, 2019, an article in Eater announced that __["Japanese Standing Steakhouse Ikinari Will Shutter 9 of Its 11 NYC Locations"](https://ny.eater.com/2019/2/15/18226734/ikinari-closing-pepper-lunch-opening-nyc)__. Ikinari Steak was announcing the closure of 7 locations and the rebranding of 2 due to slowing sales and unfulfilled expectations.

What happened in that short period of time?

### Anecdotal Evidence
It is easy to point out anecdotal missteps.
- When New Yorkers hear the word Steakhouse, they are probably not thinking about dashing in and chowing everything down in 15 minutes. Sparks and Peter Luger's has taught us over the years to be well-dressed, bring the family and friends you love, and get ready for a white gloves and wines by the bottle. Even Japanese marketers have taught us with lessons for American brands overseas--it is nigh-impossible to change cultural norms. It takes grueling patience.
- The rent is too damn high. Even with the subprime mortgage crisis, commercial real estate remains as strong as ever. There is a slight slowdown at the time of this writing, but there is an almost religious belief that the New York City real estate market will endure anything and everything. And so...
- The food is cheap, but not cheap enough. 18-25 dollars on lunch is not unheard of in Midtown, but with food carts now selling steak at lower prices, Ikinari Steak is losing face on its value proposition. But you can't just cut prices--the rent is too damn high!

### That's great, but what does the DATA say?
I don't have the sales figures and COGS for Ikinari Steak, but I can use data from Foursquare to begin to understand what the surrounding area looked like for the 3 still-standing Ikinari Steak locations and the 7 closed, and 2 rebranded locations.

I hope to begin to answer the following overarching business questions:

<div class="alert alert-block alert-warning">
    
<h4>Question 1: What are some common characteristics of the surrounding area for the 11 Ikinari Steak locations?</h4>
<ul>
  <li>Can we draw conclusions about the Ikinari Steak New York team's strategy for opening locations?</li>
  <li>Can we draw conclusions about why some locations failed, why some are being rebranded, and why some still stand?</li>
</ul> 

<h4> Question 2: If Ikinari Steak were to try expanding once again, where should they challenge? </h4>
<ul>
  <li>Perhaps we can begin looking in the larger New York City area for new Ikinari Steak locations.</li>
</ul> 
</div>

<div class="alert alert-block alert-info">
Section 2

<h2>The Data</h2>
<h3>The Clean-Up and the Breakdown</h3>
</div>

In [1]:
# import necessary libraries
import numpy as np
import pandas as pd

import json

from geopy.geocoders import Nominatim

import requests
from pandas.io.json import json_normalize

from sklearn.cluster import KMeans

import folium

In [3]:
'''
I will need the locations of all the Ikinari Steak New York locations
and turn them into a Pandas dataframe.

First, I will import a pre-made csv file with Ikinari Steak data,
but missing the latitudes and longitudes.
'''
i_steak_data = pd.read_csv('ikinari_steak.csv')
i_steak_data.head()

,Official_Name,Address,Latitude,Longitude,Date_Opened,Current_Status
0,East Village,"90 E 10th St, New York, NY 10003",NaN,NaN,2017-02-23,Open
1,Chelsea 7th Ave,"154 7th Ave, New York, NY 10011",NaN,NaN,2017-12-15,Rebrand
2,Times Square,"368 W 46th St, New York, NY 10036",NaN,NaN,2018-01-19,Open
3,5th Ave,"37 W 46th St, New York, NY 10036",NaN,NaN,2018-02-16,Open
4,Chelsea 8th Ave,"96 8th Ave, New York, NY 10011",NaN,NaN,2018-02-23,Closed

In [16]:
# Use geocoder.Nominatim to get the latitudes and longitudes of
# each Ikinari Steak address
# then use a loop to set the values into our pandas dataframe

geolocator = Nominatim(user_agent="is_explorer")

for index, row in i_steak_data.iterrows():
    location = geolocator.geocode(row['Address'])
    latitude = location.latitude
    longitude = location.longitude
    i_steak_data.at[index, 'Latitude'] = latitude
    i_steak_data.at[index, 'Longitude'] = longitude

i_steak_data

,Official_Name,Address,Latitude,Longitude,Date_Opened,Current_Status
0,East Village,"90 E 10th St, New York, NY 10003",40.730806,-73.989727,2017-02-23,Open
1,Chelsea 7th Ave,"154 7th Ave, New York, NY 10011",40.741916,-73.997605,2017-12-15,Rebrand
2,Times Square,"368 W 46th St, New York, NY 10036",40.760638,-73.990395,2018-01-19,Open
3,5th Ave,"37 W 46th St, New York, NY 10036",40.756872,-73.980425,2018-02-16,Open
4,Chelsea 8th Ave,"96 8th Ave, New York, NY 10011",40.740180,-74.001972,2018-02-23,Closed
5,Park Ave,"455 Park Avenue South, New York, NY 10016",40.744894,-73.982617,2018-03-16,Closed
6,Broadway,"243 W 54th St, New York, NY 10019",40.764537,-73.983327,2018-05-04,Rebrand
7,Upper West,"2233 Broadway, New York, NY 10024",40.784303,-73.979768,2018-07-06,Closed
8,Lexington Ave,"1007 Lexington Ave, New York, NY 10021",40.770717,-73.961706,2018-08-03,Closed
9,Madison Ave,"295 Madison Ave, New York, NY 10017",40.751781,-73.979337,2018-10-19,Closed
10,Bleecker St,"205 Bleecker St, New York, NY 10012",40.729355,-74.001377,2018-11-29,Closed

In [18]:
# turn the new dataframe into a csv for future use
i_steak_data.to_csv('comp_ikinari_steak.csv', index=False)

In [21]:
# mapping the Ikinari Steak locations
geolocator = Nominatim(user_agent="ny_explorer")

location = geolocator.geocode('Midtown Manhattan, NY')
latitude = location.latitude
longitude = location.longitude

map_ikinari_steak = folium.Map(location=[latitude, longitude], zoom_start=12)

# add markers
for lat, lng, name, date, stat in zip(
        i_steak_data['Latitude'],
        i_steak_data['Longitude'],
        i_steak_data['Official_Name'],
        i_steak_data['Date_Opened'],
        i_steak_data['Current_Status']):
    label = '{}, {}, {}'.format(name, date, stat)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='red',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_ikinari_steak)

map_ikinari_steak

In [22]:
'''
Now, it's time to bring in the Foursquare Data
I'm going to use the getNearbyVenues function from
the earlier labs.
'''

# Client ID and Client Secret in local txt file
filepath = 'foursquare_cred.txt'
with open(filepath) as cred:
    CLIENT_ID = cred.readline()
    CLIENT_SECRET = cred.readline()

In [30]:
# Function to get venues from latitudes, longitudes
# Function was tweaked so that the version 
def getNearbyVenues(names, latitudes, longitudes, versions, radius=500):
    
    venues_list=[]
    for name, lat, lng, ver in zip(names, latitudes, longitudes, versions):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            ver, 
            lat, 
            lng, 
            radius, 
            100) # limit set to 100 results
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng,
            ver,
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Official_Name', 
                  'IS_Latitude', 
                  'IS_Longitude',
                  'Version',
                  'Venue', 
                  'Venue_Latitude', 
                  'Venue_Longitude', 
                  'Venue_Category']
    
    return(nearby_venues)

In [27]:
# For function to work, I need to remove hyphens from
# the dates in the dataframe
for index, row in i_steak_data.iterrows():
    date = row['Date_Opened']
    dehyphened_date = date.replace('-', '')
    i_steak_data.at[index, 'Date_Opened'] = dehyphened_date

i_steak_data

,Official_Name,Address,Latitude,Longitude,Date_Opened,Current_Status
0,East Village,"90 E 10th St, New York, NY 10003",40.730806,-73.989727,20170223,Open
1,Chelsea 7th Ave,"154 7th Ave, New York, NY 10011",40.741916,-73.997605,20171215,Rebrand
2,Times Square,"368 W 46th St, New York, NY 10036",40.760638,-73.990395,20180119,Open
3,5th Ave,"37 W 46th St, New York, NY 10036",40.756872,-73.980425,20180216,Open
4,Chelsea 8th Ave,"96 8th Ave, New York, NY 10011",40.740180,-74.001972,20180223,Closed
5,Park Ave,"455 Park Avenue South, New York, NY 10016",40.744894,-73.982617,20180316,Closed
6,Broadway,"243 W 54th St, New York, NY 10019",40.764537,-73.983327,20180504,Rebrand
7,Upper West,"2233 Broadway, New York, NY 10024",40.784303,-73.979768,20180706,Closed
8,Lexington Ave,"1007 Lexington Ave, New York, NY 10021",40.770717,-73.961706,20180803,Closed
9,Madison Ave,"295 Madison Ave, New York, NY 10017",40.751781,-73.979337,20181019,Closed
10,Bleecker St,"205 Bleecker St, New York, NY 10012",40.729355,-74.001377,20181129,Closed

In [31]:
# Run the function
iks_venues = getNearbyVenues(names=i_steak_data['Official_Name'],
                            latitudes=i_steak_data['Latitude'],
                            longitudes=i_steak_data['Longitude'],
                            versions=i_steak_data['Date_Opened'])

East Village
Chelsea 7th Ave
Times Square
5th Ave
Chelsea 8th Ave
Park Ave
Broadway
Upper West
Lexington Ave
Madison Ave
Bleecker St

In [34]:
# check size and head of the dataframe
print(iks_venues.shape)
iks_venues.head()

(1100, 8)

,Official_Name,IS_Latitude,IS_Longitude,Version,Venue,Venue_Latitude,Venue_Longitude,Venue_Category
0,East Village,40.730806,-73.989727,20170223,Shake Shack,40.729998,-73.989696,Burger Joint
1,East Village,40.730806,-73.989727,20170223,Ippudo,40.730948,-73.990287,Ramen Restaurant
2,East Village,40.730806,-73.989727,20170223,Angels Share,40.729755,-73.989360,Speakeasy
3,East Village,40.730806,-73.989727,20170223,Switch Playground 12th Street,40.732184,-73.988699,Gym
4,East Village,40.730806,-73.989727,20170223,Fabio Clemente Jiu Jitsu,40.732304,-73.989069,Martial Arts Dojo

In [35]:
# check how many venues for each Ikinari Steak
iks_venues.groupby('Official_Name').count()

,IS_Latitude,IS_Longitude,Version,Venue,Venue_Latitude,Venue_Longitude,Venue_Category
Official_Name,,,,,,,
5th Ave,100,100,100,100,100,100,100
Bleecker St,100,100,100,100,100,100,100
Broadway,100,100,100,100,100,100,100
Chelsea 7th Ave,100,100,100,100,100,100,100
Chelsea 8th Ave,100,100,100,100,100,100,100
East Village,100,100,100,100,100,100,100
Lexington Ave,100,100,100,100,100,100,100
Madison Ave,100,100,100,100,100,100,100
Park Ave,100,100,100,100,100,100,100
Times Square,100,100,100,100,100,100,100
Upper West,100,100,100,100,100,100,100

In [37]:
# Check how many unique categories there are
print('There are {} unique categories.'.format(len(iks_venues['Venue_Category'].unique())))

There are 214 unique categories.